<html>
	<head>
	</head>
	<body>
		{{ form_start(form) }}
			{{ form_row(form.title) }}
			{{ form_row(form.homepage) }}
			<table>
			<thead>
				<tr>
					<th>Project</th>
					<th>Show</th>
					<th>Order</th>
					<th>Show commits</th>
				</tr>
			</thead>
			<tbody>
				{% for project in projects %}
					<tr>
						<td>
							{{ project.sourceGroup.title }} / {{ project.sourceTitle }}
						</td>
						<td>
							{% set key = 'project_' ~ project.id ~ '_show' %}
							{{ form_widget(attribute(form, key)) }}
						</td>
						<td>
							{% set key = 'project_' ~ project.id ~ '_order' %}
							{{ form_widget(attribute(form, key)) }}
						</td>
						<td>
							{% set key = 'project_' ~ project.id ~ '_commits' %}
							{{ form_widget(attribute(form, key)) }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<button type="submit">submit</button>
		{{ form_end(form) }}
	</body>
</html>
